h1
{
color: royalblue;
{

body
{
	backround-color: lightskyblue;
}





#carte
{
width; 800px;
margin:0-auto;
backround-color:-white;
text-align: center;
align-content:-center;
}

img {
	width: 150px;
	height: 150px;
}